# aggregation of species over seasons

In [1]:
import csv
import pandas as pd

submission_path = "~/p-dsgt_clef2025-0/shared/plantclef/submissions/test_2025"
file_name = "topk_20_species_grid_4x4/dsgt_run_topk_20_species_grid_4x4.csv"
csv_path = f"{submission_path}/{file_name}"
# read CSV file
df = pd.read_csv(csv_path, sep=",", quoting=csv.QUOTE_ALL)
df.head(10)

             quadrat_id                                        species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187, ...
1  CBN-PdlC-A1-20130807  [1392407, 1392608, 1392611, 1395807, 1741624, ...
2  CBN-PdlC-A1-20130903  [1395807, 1742052, 1362271, 1412857, 1397535, ...
3  CBN-PdlC-A1-20140721  [1412857, 1395807, 1396144, 1397535, 1392608, ...
4  CBN-PdlC-A1-20140811  [1395807, 1412857, 1392608, 1519650, 1742052, ...
5  CBN-PdlC-A1-20140901  [1361281, 1392608, 1742052, 1412857, 1391331, ...
6  CBN-PdlC-A1-20150701  [1392608, 1392535, 1412857, 1392407, 1394911, ...
7  CBN-PdlC-A1-20150720  [1392608, 1412857, 1361281, 1394554, 1395807, ...
8  CBN-PdlC-A1-20150831  [1742052, 1412857, 1392608, 1519650, 1392611, ...
9  CBN-PdlC-A1-20160705  [1412857, 1361281, 1394911, 1392608, 1392611, ...

In [32]:
# filter quadrat_ids that start with pattern"
filtered_df = df[df["quadrat_id"].str.startswith("RNNB")]
filtered_df["quadrat_id"].head(10)
# list of base quadrat_ids
base_quadrat_ids = filtered_df["quadrat_id"].tolist()
print(f"Number: {len(base_quadrat_ids)}")
print(base_quadrat_ids)

Number: 141
['RNNB-1-1-20230512', 'RNNB-1-1-20240117', 'RNNB-1-10-20230512', 'RNNB-1-10-20240117', 'RNNB-1-2-20230512', 'RNNB-1-2-20240117', 'RNNB-1-3-20230512', 'RNNB-1-3-20240117', 'RNNB-1-4-20230512', 'RNNB-1-4-20240117', 'RNNB-1-5-20230512', 'RNNB-1-5-20240117', 'RNNB-1-6-20230512', 'RNNB-1-6-20240117', 'RNNB-1-7-20230512', 'RNNB-1-7-20240117', 'RNNB-1-8-20230512', 'RNNB-1-8-20240117', 'RNNB-1-9-20230512', 'RNNB-1-9-20240117', 'RNNB-2-1-20230512', 'RNNB-2-1-20240117', 'RNNB-2-10-20230512', 'RNNB-2-10-20240117', 'RNNB-2-2-20230512', 'RNNB-2-2-20240117', 'RNNB-2-3-20230512', 'RNNB-2-3-20240117', 'RNNB-2-4-20230512', 'RNNB-2-4-20240117', 'RNNB-2-5-20230512', 'RNNB-2-5-20240117', 'RNNB-2-6-20230512', 'RNNB-2-6-20240117', 'RNNB-2-7-20230512', 'RNNB-2-7-20240117', 'RNNB-2-8-20230512', 'RNNB-2-8-20240117', 'RNNB-2-9-20230512', 'RNNB-2-9-20240117', 'RNNB-3-1-20230512', 'RNNB-3-1-20240117', 'RNNB-3-10-20230512', 'RNNB-3-10-20240117', 'RNNB-3-11-20230512', 'RNNB-3-12-20230512', 'RNNB-3-2-20230512', 'RNNB-3-2-20240117', 'RNNB-3-3-20240117', 'RNNB-3-4-20230512', 'RNNB-3-4-20240117', 'RNNB-3-5-20230512', 'RNNB-3-5-20240117', 'RNNB-3-6-20230512', 'RNNB-3-6-20240117', 'RNNB-3-7-20230512', 'RNNB-3-7-20240117', 'RNNB-3-8-20230512', 'RNNB-3-8-20240117', 'RNNB-3-9-20230512', 'RNNB-3-9-20240117', 'RNNB-4-1-20240117', 'RNNB-4-1-20240118', 'RNNB-4-10-20240117', 'RNNB-4-10-20240118', 'RNNB-4-2-20240117', 'RNNB-4-2-20240118', 'RNNB-4-3-20240117', 'RNNB-4-3-20240118', 'RNNB-4-4-20240117', 'RNNB-4-4-20240118', 'RNNB-4-5-20240117', 'RNNB-4-5-20240118', 'RNNB-4-6-20240117', 'RNNB-4-6-20240118', 'RNNB-4-7-20240117', 'RNNB-4-7-20240118', 'RNNB-4-8-20240117', 'RNNB-4-8-20240118', 'RNNB-4-9-20240117', 'RNNB-4-9-20240118', 'RNNB-5-1-20240117', 'RNNB-5-1-20240118', 'RNNB-5-10-20240117', 'RNNB-5-10-20240118', 'RNNB-5-2-20240117', 'RNNB-5-2-20240118', 'RNNB-5-3-20240117', 'RNNB-5-3-20240118', 'RNNB-5-4-20240117', 'RNNB-5-4-20240118', 'RNNB-5-5-20240117', 'RNNB-5-5-20240118', 'RNNB-5-6-20240117', 'RNNB-5-6-20240118', 'RNNB-5-7-20240117', 'RNNB-5-7-20240118', 'RNNB-5-8-20240117', 'RNNB-5-8-20240118', 'RNNB-5-9-20240117', 'RNNB-5-9-20240118', 'RNNB-6-1-20240117', 'RNNB-6-1-20240118', 'RNNB-6-10-20240117', 'RNNB-6-10-20240118', 'RNNB-6-2-20240117', 'RNNB-6-2-20240118', 'RNNB-6-3-20240117', 'RNNB-6-3-20240118', 'RNNB-6-4-20240117', 'RNNB-6-4-20240118', 'RNNB-6-5-20240117', 'RNNB-6-5-20240118', 'RNNB-6-6-20240117', 'RNNB-6-6-20240118', 'RNNB-6-7-20240117', 'RNNB-6-7-20240118', 'RNNB-6-8-20240117', 'RNNB-6-8-20240118', 'RNNB-6-9-20240117', 'RNNB-6-9-20240118', 'RNNB-7-1-20240118', 'RNNB-7-10-20240118', 'RNNB-7-2-20240118', 'RNNB-7-3-20240118', 'RNNB-7-4-20240118', 'RNNB-7-5-20240118', 'RNNB-7-6-20240118', 'RNNB-7-7-20240118', 'RNNB-7-8-20240118', 'RNNB-7-9-20240118', 'RNNB-8-1-20240118', 'RNNB-8-10-20240118', 'RNNB-8-2-20240118', 'RNNB-8-3-20240118', 'RNNB-8-4-20240118', 'RNNB-8-5-20240118', 'RNNB-8-6-20240118', 'RNNB-8-7-20240118', 'RNNB-8-8-20240118', 'RNNB-8-9-20240118']

In [33]:
import re


# regex-based function to extract base quadrat id
def extract_base_quadrat_id(quadrat_id):
    patterns = [
        (r"^(CBN-.*?-.*?)-\d{8}$", 1),  # CBN
        (r"^(GUARDEN-.*?-.*?)-.*$", 1),  # GUARDEN-AMB
        (r"^(LISAH-.*?)-\d{8}$", 1),  # LISAH
        (r"^(OPTMix-\d+)-.*$", 1),  # OPTMix
        (r"^(RNNB-\d+-\d+)-\d{8}$", 1),  # RNNB
    ]
    for pattern, group_idx in patterns:
        match = re.match(pattern, quadrat_id)
        if match:
            return match.group(group_idx)
    return quadrat_id  # fallback

In [34]:
# apply the function to extract base quadrat_id
df["base_quadrat_id"] = df["quadrat_id"].apply(extract_base_quadrat_id)
df.head()

,quadrat_id,species_ids,base_quadrat_id
0,2024-CEV3-20240602,"[1362443, 1400181, 1392662, 1738679, 1360187, ...",2024-CEV3-20240602
1,CBN-PdlC-A1-20130807,"[1392407, 1392608, 1392611, 1395807, 1741624, ...",CBN-PdlC-A1
2,CBN-PdlC-A1-20130903,"[1395807, 1742052, 1362271, 1412857, 1397535, ...",CBN-PdlC-A1
3,CBN-PdlC-A1-20140721,"[1412857, 1395807, 1396144, 1397535, 1392608, ...",CBN-PdlC-A1
4,CBN-PdlC-A1-20140811,"[1395807, 1412857, 1392608, 1519650, 1742052, ...",CBN-PdlC-A1

In [35]:
# find the min, max, and mean of the base_quadrat_ids
count_quadrat_ids = df["base_quadrat_id"].value_counts()
min_count = min(count_quadrat_ids)
max_count = max(count_quadrat_ids)
mean_count = sum(count_quadrat_ids) / len(count_quadrat_ids)
print(f"Min: {min_count}, Max: {max_count}, Mean: {round(mean_count, 2)}")
print(f"Total unique quadrat_ids: {len(count_quadrat_ids)}")
count_quadrat_ids[:10]
# print LISAH quadrat_ids
filtered_quadrat_ids = count_quadrat_ids[count_quadrat_ids.index.str.startswith("RNNB")]
print(filtered_quadrat_ids)

Min: 1, Max: 26, Mean: 4.95
Total unique quadrat_ids: 425
base_quadrat_id
RNNB-4-6    2
RNNB-1-7    2
RNNB-5-7    2
RNNB-1-6    2
RNNB-5-8    2
           ..
RNNB-7-4    1
RNNB-7-5    1
RNNB-7-6    1
RNNB-7-7    1
RNNB-7-8    1
Name: count, Length: 82, dtype: int64

In [36]:
# list of base quadrat_ids
base_quadrat_ids = df.groupby("base_quadrat_id").first().index.tolist()
base_quadrat_ids[:10]

['2024-CEV3-20240602',
 'CBN-PdlC-A1',
 'CBN-PdlC-A2',
 'CBN-PdlC-A3',
 'CBN-PdlC-A4',
 'CBN-PdlC-A5',
 'CBN-PdlC-A6',
 'CBN-PdlC-B1',
 'CBN-PdlC-B2',
 'CBN-PdlC-B3']

In [37]:
# convert species_ids column from string representation to list of integers
df["species_ids"] = df["species_ids"].apply(
    lambda x: eval(x) if isinstance(x, str) else x
)

# ensure all elements in the list are integers
df["species_ids"] = df["species_ids"].apply(lambda x: list(map(int, x)))
df.head()

,quadrat_id,species_ids,base_quadrat_id
0,2024-CEV3-20240602,"[1362443, 1400181, 1392662, 1738679, 1360187, ...",2024-CEV3-20240602
1,CBN-PdlC-A1-20130807,"[1392407, 1392608, 1392611, 1395807, 1741624, ...",CBN-PdlC-A1
2,CBN-PdlC-A1-20130903,"[1395807, 1742052, 1362271, 1412857, 1397535, ...",CBN-PdlC-A1
3,CBN-PdlC-A1-20140721,"[1412857, 1395807, 1396144, 1397535, 1392608, ...",CBN-PdlC-A1
4,CBN-PdlC-A1-20140811,"[1395807, 1412857, 1392608, 1519650, 1742052, ...",CBN-PdlC-A1

In [38]:
from collections import Counter


def union_agg(x):
    return list(set([item for sublist in x for item in sublist]))


# Function to aggregate species and sort them by frequency
def union_agg_sorted(x):
    species_counts = Counter([species for sublist in x for species in sublist])
    return [species for species, _ in species_counts.most_common()]


df_union = (
    df.groupby("base_quadrat_id")["species_ids"].apply(union_agg_sorted).reset_index()
)
df_union.head()

      base_quadrat_id                                        species_ids
0  2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187, ...
1         CBN-PdlC-A1  [1392608, 1412857, 1361281, 1742052, 1392407, ...
2         CBN-PdlC-A2  [1395974, 1412857, 1741805, 1395807, 1392407, ...
3         CBN-PdlC-A3  [1412857, 1391331, 1397535, 1392608, 1742052, ...
4         CBN-PdlC-A4  [1741661, 1392608, 1392611, 1397475, 1393200, ...

In [39]:
# Merge the aggregated species_ids from df_union back to the original df using base_plot_id
df_merged = df.merge(
    df_union, on="base_quadrat_id", how="left", suffixes=("_original", "_aggregated")
)

# Select only the required columns: original plot_id and aggregated species_ids
df_final = df_merged[["quadrat_id", "species_ids_aggregated"]].rename(
    columns={"species_ids_aggregated": "species_ids"}
)
df_final.head(10)

             quadrat_id                                        species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187, ...
1  CBN-PdlC-A1-20130807  [1392608, 1412857, 1361281, 1742052, 1392407, ...
2  CBN-PdlC-A1-20130903  [1392608, 1412857, 1361281, 1742052, 1392407, ...
3  CBN-PdlC-A1-20140721  [1392608, 1412857, 1361281, 1742052, 1392407, ...
4  CBN-PdlC-A1-20140811  [1392608, 1412857, 1361281, 1742052, 1392407, ...
5  CBN-PdlC-A1-20140901  [1392608, 1412857, 1361281, 1742052, 1392407, ...
6  CBN-PdlC-A1-20150701  [1392608, 1412857, 1361281, 1742052, 1392407, ...
7  CBN-PdlC-A1-20150720  [1392608, 1412857, 1361281, 1742052, 1392407, ...
8  CBN-PdlC-A1-20150831  [1392608, 1412857, 1361281, 1742052, 1392407, ...
9  CBN-PdlC-A1-20160705  [1392608, 1412857, 1361281, 1742052, 1392407, ...

In [40]:
import os
import csv
from pathlib import Path


def format_species_ids(species_ids: list) -> str:
    """Formats the species IDs in single square brackets, separated by commas."""
    formatted_ids = ", ".join(str(id) for id in species_ids)
    return f"[{formatted_ids}]"


def prepare_and_write_submission(pandas_df: pd.DataFrame) -> pd.DataFrame:
    """Converts Spark DataFrame to Pandas, formats it, and writes to GCS."""
    records = []
    for _, row in pandas_df.iterrows():
        logits = row["species_ids"]
        formatted_species = format_species_ids(logits)
        records.append(
            {"quadrat_id": row["quadrat_id"], "species_ids": formatted_species}
        )

    pandas_df = pd.DataFrame(records)
    return pandas_df


def get_plantclef_dir() -> str:
    home_dir = Path(os.path.expanduser("~"))
    return f"{home_dir}/p-dsgt_clef2025-0/shared/plantclef/"


def write_csv_to_pace(df, file_name: str):
    """Writes the Pandas DataFrame to a CSV file in GCS."""
    project_dir = get_plantclef_dir()
    submission_path = f"{project_dir}/submissions"
    folder_name = "aggregation_seasons"
    output_path = f"{submission_path}/{folder_name}/{file_name}"

    # ensure directory exists before saving
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    # write to CSV
    df.to_csv(output_path, sep=";", index=False, quoting=csv.QUOTE_NONE)


def main(df, file_name):
    # return dataframe for submission
    pandas_df = prepare_and_write_submission(df)
    display(pandas_df.head())
    # write dataframe to PACE
    write_csv_to_pace(pandas_df, file_name)

### normal aggregation

In [41]:
file_name = "agg_dsgt_run_topk_20_species_grid_4x4.csv"
main(df_final, file_name)

             quadrat_id                                        species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187, ...
1  CBN-PdlC-A1-20130807  [1392608, 1412857, 1361281, 1742052, 1392407, ...
2  CBN-PdlC-A1-20130903  [1392608, 1412857, 1361281, 1742052, 1392407, ...
3  CBN-PdlC-A1-20140721  [1392608, 1412857, 1361281, 1742052, 1392407, ...
4  CBN-PdlC-A1-20140811  [1392608, 1412857, 1361281, 1742052, 1392407, ...

In [43]:
# function to aggregate species, sort them by frequency, and select top K species
def union_agg_topk(x, top_k=5):
    species_counts = Counter([species for sublist in x for species in sublist])
    return [species for species, _ in species_counts.most_common(top_k)]


# Define the top K value (change as needed)
top_k = 5

# group by base_plot_id and apply the updated aggregation function with top K filtering
df_union_topk = (
    df.groupby("base_quadrat_id")["species_ids"]
    .apply(lambda x: union_agg_topk(x, top_k))
    .reset_index()
)
display(df_union_topk.head(3))

# merge the aggregated species_ids back to the original df
df_merged_topk = df.merge(
    df_union_topk,
    on="base_quadrat_id",
    how="left",
    suffixes=("_original", "_aggregated"),
)

# select only the required columns: original plot_id and aggregated species_ids
df_final_topk = df_merged_topk[["quadrat_id", "species_ids_aggregated"]].rename(
    columns={"species_ids_aggregated": "species_ids"}
)
df_final_topk.head()

      base_quadrat_id                                    species_ids
0  2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187]
1         CBN-PdlC-A1  [1392608, 1412857, 1361281, 1742052, 1392407]
2         CBN-PdlC-A2  [1395974, 1412857, 1741805, 1395807, 1392407]

             quadrat_id                                    species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187]
1  CBN-PdlC-A1-20130807  [1392608, 1412857, 1361281, 1742052, 1392407]
2  CBN-PdlC-A1-20130903  [1392608, 1412857, 1361281, 1742052, 1392407]
3  CBN-PdlC-A1-20140721  [1392608, 1412857, 1361281, 1742052, 1392407]
4  CBN-PdlC-A1-20140811  [1392608, 1412857, 1361281, 1742052, 1392407]

### top K aggregation

In [44]:
file_name = f"agg_topk{top_k}_dsgt_run_topk_9_species_grid_6x6.csv"
main(df_final_topk, file_name)

             quadrat_id                                    species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187]
1  CBN-PdlC-A1-20130807  [1392608, 1412857, 1361281, 1742052, 1392407]
2  CBN-PdlC-A1-20130903  [1392608, 1412857, 1361281, 1742052, 1392407]
3  CBN-PdlC-A1-20140721  [1392608, 1412857, 1361281, 1742052, 1392407]
4  CBN-PdlC-A1-20140811  [1392608, 1412857, 1361281, 1742052, 1392407]

In [45]:
display(df_final_topk)

                quadrat_id                                    species_ids
0       2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187]
1     CBN-PdlC-A1-20130807  [1392608, 1412857, 1361281, 1742052, 1392407]
2     CBN-PdlC-A1-20130903  [1392608, 1412857, 1361281, 1742052, 1392407]
3     CBN-PdlC-A1-20140721  [1392608, 1412857, 1361281, 1742052, 1392407]
4     CBN-PdlC-A1-20140811  [1392608, 1412857, 1361281, 1742052, 1392407]
...                    ...                                            ...
2100     RNNB-8-5-20240118  [1359344, 1357700, 1388812, 1390761, 1363526]
2101     RNNB-8-6-20240118  [1359344, 1361703, 1359297, 1359804, 1722441]
2102     RNNB-8-7-20240118  [1357227, 1359344, 1743408, 1357848, 1722578]
2103     RNNB-8-8-20240118  [1357227, 1359344, 1359297, 1357742, 1722433]
2104     RNNB-8-9-20240118  [1359344, 1722441, 1359297, 1363302, 1489806]

[2105 rows x 2 columns]