# Submission CSV comparison

This notebooks compares the submission with and without the **Prior Bayesian Inference** approach.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

submission_path = "~/p-dsgt_clef2025-0/shared/plantclef/submissions/test_2025"
prior_path = f"{submission_path}/prior"
folder_name = "topk_9_grid_4x4"
file_name = f"dsgt_run_{folder_name}.csv"


sub_df = pd.read_csv(f"{submission_path}/{folder_name}/{file_name}")
prior_df = pd.read_csv(f"{prior_path}/{folder_name}/{file_name}")

display(sub_df.head())
display(prior_df.head())

             quadrat_id                                        species_ids
0    2024-CEV3-20240602  [1362443, 1400181, 1392662, 1738679, 1360187, ...
1  CBN-PdlC-A1-20130807  [1392407, 1392608, 1392611, 1395807, 1741624, ...
2  CBN-PdlC-A1-20130903  [1395807, 1742052, 1362271, 1412857, 1397535, ...
3  CBN-PdlC-A1-20140721  [1412857, 1395807, 1396144, 1397535, 1392608, ...
4  CBN-PdlC-A1-20140811               [1395807, 1412857, 1392608, 1519650]

             quadrat_id                                        species_ids
0    2024-CEV3-20240602  [1400181, 1392662, 1738679, 1356275, 1360187, ...
1  CBN-PdlC-A1-20130807      [1395807, 1392608, 1412857, 1361281, 1392407]
2  CBN-PdlC-A1-20130903      [1395807, 1412857, 1392608, 1742052, 1397535]
3  CBN-PdlC-A1-20140721               [1395807, 1412857, 1392608, 1361281]
4  CBN-PdlC-A1-20140811                        [1395807, 1392608, 1412857]

In [3]:
# diff the two dataframes
diff_df = pd.merge(
    sub_df,
    prior_df,
    how="outer",
    indicator=True,
    on=["quadrat_id"],
)
# get difference
diff_df = diff_df[diff_df["_merge"] != "both"]
display(diff_df.head())

Empty DataFrame
Columns: [quadrat_id, species_ids_x, species_ids_y, _merge]
Index: []