# Validate submission results

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from plantclef.spark import get_spark

spark = get_spark()
display(spark)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/23 09:20:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/23 09:20:14 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [3]:
import os
from pathlib import Path

# Get list of stored filed in cloud bucket
root = Path(os.path.expanduser("~"))
! date

Sun Feb 23 09:20:24 AM EST 2025

### validate submission DF

In [4]:
# Path and dataset names
data_path = f"{root}/p-dsgt_clef2025-0/shared/plantclef/data/embeddings/"

# Define the path to the train and test parquet files
test_2024_path = f"{data_path}/test_2024_embeddings/grid_3x3/data"

# Read the parquet files into a spark DataFrame
test24_emb_df = spark.read.parquet(test_2024_path)

# Show the data
test24_emb_df.printSchema()
test24_emb_df.show(n=5)

root
 |-- image_name: string (nullable = true)
 |-- logits: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: float (valueContainsNull = true)
 |-- sample_id: integer (nullable = true)

+--------------------+--------------------+---------+
|          image_name|              logits|sample_id|
+--------------------+--------------------+---------+
|CBN-PdlC-E5-20200...|[{1390793 -> 46.8...|        0|
|CBN-PdlC-D6-20130...|[{1389929 -> 24.3...|        0|
|CBN-Pla-B5-201907...|[{1722440 -> 56.6...|        0|
|CBN-PdlC-D3-20180...|[{1741880 -> 39.0...|        0|
|RNNB-6-10-2024011...|[{1357742 -> 45.5...|        0|
+--------------------+--------------------+---------+
only showing top 5 rows

In [5]:
test24_emb_df.count()

1695

In [6]:
import csv
import pandas as pd

# Path and dataset names
csv_path = f"{root}/p-dsgt_clef2025-0/shared/plantclef/submissions/topk_5_species_grid_3x3/dsgt_run_topk_5_species_grid_3x3.csv"

pandas_df = pd.read_csv(csv_path, sep=";", quoting=csv.QUOTE_NONE)
pandas_df.head()

                plot_id                                    species_ids
0  CBN-PdlC-A1-20130807  [1395807, 1412857, 1392608, 1392535, 1392611]
1  CBN-PdlC-A1-20130903           [1392608, 1742052, 1362271, 1667408]
2  CBN-PdlC-A1-20140721                             [1412857, 1391331]
3  CBN-PdlC-A1-20140811                    [1412857, 1392608, 1667408]
4  CBN-PdlC-A1-20140901  [1392608, 1361281, 1742052, 1392407, 1412857]

In [7]:
pandas_df.shape

(1695, 2)