In [ ]:
import pandas as pd
df = pd.read_csv('~/scratch/plantclef/submissions/knn/topk_5/grid_3_4_6/topk_5_grid_3_4_6_p_0.05_per_image/dsgt_run_topk_5_grid_3_4_6_p_0.05_per_image.csv', delimiter=';')
df['species_ids'] = df['species_ids'].apply(lambda x: list(map(int, x.strip('[]').split(','))))
df.head()

                plot_id                           species_ids
0  CBN-PdlC-A1-20130807  [1392611, 1390793, 1392608, 1395944]
1  CBN-PdlC-A1-20130903  [1396733, 1394311, 1390793, 1395944]
2  CBN-PdlC-A1-20140721  [1412857, 1392611, 1418612, 1390793]
3  CBN-PdlC-A1-20140811  [1394643, 1392606, 1392608, 1390793]
4  CBN-PdlC-A1-20140901  [1392611, 1395944, 1390793, 1392608]

In [ ]:
unique_species_ids = set([item for sublist in df['species_ids'] for item in sublist])
len(unique_species_ids)

583