# GBIF analysis
https://pygbif.readthedocs.io/en/latest/index.html

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import pandas as pd


# read CSV species metadata
def get_data():
    data_path = "~/p-dsgt_clef2025-0/shared/plantclef/data"
    file_name = "species_metadata.csv"
    data_path = f"{data_path}/{file_name}"
    df = pd.read_csv(data_path)
    return df


df = get_data()
df.head(10)

   species_id                        species        genus      family
0     1355868              Lactuca virosa L.      Lactuca  Asteraceae
1     1355869  Crepis capillaris (L.) Wallr.       Crepis  Asteraceae
2     1355870              Crepis foetida L.       Crepis  Asteraceae
3     1355871          Hypochaeris glabra L.  Hypochaeris  Asteraceae
4     1355872        Hypochaeris radicata L.  Hypochaeris  Asteraceae
5     1355873         Arctotis venusta Norl.     Arctotis  Asteraceae
6     1355880    Carduus macrocephalus Desf.      Carduus  Asteraceae
7     1355881     Carduus tenuiflorus Curtis      Carduus  Asteraceae
8     1355882          Cynara cardunculus L.       Cynara  Asteraceae
9     1355884        Centaurea calcitrapa L.    Centaurea  Asteraceae

In [7]:
from pygbif import species
from pygbif import occurrences as occ

# Get the taxon key for a species
df = get_data()
species_list = df["species"].tolist()[:5]
keys = [species.name_backbone(name)["usageKey"] for name in species_list]
# species_names = "Lotus alpinus"
responses = [occ.search(taxonKey=key, limit=1000000) for key in keys]
responses[0]["results"][0]

{'key': 5067755450,
 'datasetKey': '7ebef267-9d72-4c21-a276-cc84281a8590',
 'publishingOrgKey': 'd9bea9d3-13a5-4768-bbf4-560b9aa95a73',
 'installationKey': '19893c10-381e-4534-9bb8-6c37d03ad29e',
 'hostingOrganizationKey': '3c5e4331-7f2f-4a8d-aa56-81ece7014fc8',
 'publishingCountry': 'AU',
 'protocol': 'DWC_ARCHIVE',
 'lastCrawled': '2025-04-09T08:03:29.967+00:00',
 'lastParsed': '2025-04-09T08:16:30.151+00:00',
 'crawlId': 192,
 'extensions': {'http://rs.gbif.org/terms/1.0/Multimedia': [{'http://purl.org/dc/terms/format': 'image/jpeg',
    'http://rs.tdwg.org/dwc/terms/occurrenceID': '1f1c6291-b80b-4c09-91e2-527f61e83e2b',
    'http://purl.org/dc/terms/identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=ce0cb3c6-3f05-47c9-b571-6547c05d4b01'},
   {'http://purl.org/dc/terms/format': 'image/jpeg',
    'http://rs.tdwg.org/dwc/terms/occurrenceID': '1f1c6291-b80b-4c09-91e2-527f61e83e2b',
    'http://purl.org/dc/terms/identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=e8dcfe72-df47-48b5-ad1a-c4f0eea691ab'},
   {'http://purl.org/dc/terms/format': 'image/jpeg',
    'http://rs.tdwg.org/dwc/terms/occurrenceID': '1f1c6291-b80b-4c09-91e2-527f61e83e2b',
    'http://purl.org/dc/terms/identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=98477fea-c89d-4d39-848d-dfb0e27cf63d'}]},
 'basisOfRecord': 'HUMAN_OBSERVATION',
 'occurrenceStatus': 'PRESENT',
 'taxonKey': 3140346,
 'kingdomKey': 6,
 'phylumKey': 7707728,
 'classKey': 220,
 'orderKey': 414,
 'familyKey': 3065,
 'genusKey': 3140231,
 'speciesKey': 3140346,
 'acceptedTaxonKey': 3140346,
 'scientificName': 'Lactuca virosa L.',
 'acceptedScientificName': 'Lactuca virosa L.',
 'kingdom': 'Plantae',
 'phylum': 'Tracheophyta',
 'order': 'Asterales',
 'family': 'Asteraceae',
 'genus': 'Lactuca',
 'species': 'Lactuca virosa',
 'genericName': 'Lactuca',
 'specificEpithet': 'virosa',
 'taxonRank': 'SPECIES',
 'taxonomicStatus': 'ACCEPTED',
 'iucnRedListCategory': 'NE',
 'dateIdentified': '2025-02-05T06:15:12',
 'decimalLatitude': -37.636517,
 'decimalLongitude': 145.192444,
 'continent': 'OCEANIA',
 'stateProvince': 'Victoria',
 'gadm': {'level0': {'gid': 'AUS', 'name': 'Australia'},
  'level1': {'gid': 'AUS.10_1', 'name': 'Victoria'},
  'level2': {'gid': 'AUS.10.57_1', 'name': 'Nillumbik'}},
 'year': 2025,
 'month': 1,
 'day': 31,
 'eventDate': '2025-01-31T02:35',
 'startDayOfYear': 31,
 'endDayOfYear': 31,
 'issues': ['CONTINENT_DERIVED_FROM_COORDINATES',
  'TAXON_MATCH_TAXON_CONCEPT_ID_IGNORED',
  'TAXON_MATCH_TAXON_ID_IGNORED'],
 'lastInterpreted': '2025-04-09T08:16:30.151+00:00',
 'license': 'http://creativecommons.org/licenses/by/4.0/legalcode',
 'isSequenced': False,
 'identifiers': [{'identifier': '1f1c6291-b80b-4c09-91e2-527f61e83e2b'}],
 'media': [{'type': 'StillImage',
   'format': 'image/jpeg',
   'identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=e8dcfe72-df47-48b5-ad1a-c4f0eea691ab'},
  {'type': 'StillImage',
   'format': 'image/jpeg',
   'identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=ce0cb3c6-3f05-47c9-b571-6547c05d4b01'},
  {'type': 'StillImage',
   'format': 'image/jpeg',
   'identifier': 'https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=98477fea-c89d-4d39-848d-dfb0e27cf63d'}],
 'facts': [],
 'relations': [],
 'isInCluster': False,
 'recordedBy': 'lllwlllyn',
 'identifiedBy': 'Tapirlord',
 'dnaSequenceID': [],
 'geodeticDatum': 'WGS84',
 'class': 'Magnoliopsida',
 'countryCode': 'AU',
 'recordedByIDs': [],
 'identifiedByIDs': [],
 'gbifRegion': 'OCEANIA',
 'country': 'Australia',
 'publishedByGbifRegion': 'OCEANIA',
 'identifier': '1f1c6291-b80b-4c09-91e2-527f61e83e2b',
 'catalogNumber': '4643890',
 'dynamicProperties': '{conservationLevel: Exotic, sensitivityLevel: Not Sensitive, invasivenessLevel: Non-invasive or negligible, lastConfirmedByUserId: 22727 AttributeId_8: 1 metre to 5 metres, AttributeId_5: True}',
 'http://unknown.org/taxonRankID': '7000',
 'taxonConceptID': 'NZOR-6-85347',
 'locality': 'Hurstbridge, VIC',
 'http://unknown.org/species': 'Lactuca virosa',
 'gbifID': '5067755450',
 'occurrenceID': '1f1c6291-b80b-4c09-91e2-527f61e83e2b',
 'verbatimElevation': '72.899',
 'taxonID': '23645',
 'taxonRemarks': 'Plant Daisy None'}

In [ ]:
from collections import Counter

# Get the taxon key for a species
df = get_data()
species_list = df["species"].tolist()[:5]

species_data = {}
for species_name in species_list[:2]:
    taxon_key = species.name_backbone(species_name)["usageKey"]
    response = occ.search(taxonKey=taxon_key, limit=1000000)
    countries = []
    for result in response["results"]:
        country = result.get("country", "Unknown")
        countries.append(country)

    counter_countries = Counter(countries)
    species_data[species_name] = {
        country: count for country, count in counter_countries.items()
    }

species_data

{'Lactuca virosa L.': {'Australia': 10,
  'United States of America': 48,
  'Spain': 1,
  'New Zealand': 16,
  'France': 56,
  'United Kingdom of Great Britain and Northern Ireland': 26,
  'Portugal': 5,
  'Netherlands': 129,
  'Switzerland': 5,
  'Germany': 2,
  'Greece': 1,
  'Italy': 1},
 'Crepis capillaris (L.) Wallr.': {'United Kingdom of Great Britain and Northern Ireland': 5,
  'Luxembourg': 1,
  'New Zealand': 44,
  'United States of America': 5,
  'Australia': 57,
  'Chile': 1,
  'Spain': 4,
  'Argentina': 4,
  'Netherlands': 168,
  'Switzerland': 6,
  'Germany': 1,
  'France': 1,
  'Mexico': 1,
  'Denmark': 1,
  'Jersey': 1}}

In [ ]:
import os
import json

# Directory where your JSON files are stored
json_dir = os.path.expanduser(
    "~/p-dsgt_clef2025-0/shared/plantclef/data/genai/02_gbif/countries"
)

# Prepare a list to store data
data = []

# Loop through all JSON files in the directory
for filename in os.listdir(json_dir):
    if filename.endswith(".json"):
        filepath = os.path.join(json_dir, filename)
        with open(filepath, "r") as f:
            content = json.load(f)
            for species, countries in content.items():
                data.append({"species": species, "countries": countries})

# Convert to pandas DataFrame
df = pd.DataFrame(data)
df.head()

,species,countries
0,Omalotheca supina (L.) DC.,"[Germany, Sweden, United Kingdom of Great Brit..."
1,"Myriolimon ferulaceum (L.) Lledó, Erben & M.B....","[Spain, Portugal, France]"
2,Androsace chamaejasme Wulfen,"[Germany, Slovakia, Kazakhstan, Liechtenstein,..."
3,Euphorbia margalidiana Kuhbier & Lewej.,"[Spain, Unknown, Algeria]"
4,Carthamus arborescens L.,"[Spain, Morocco, Gibraltar]"

In [2]:
len(df)

7806

In [3]:
france_df = df[df["countries"].apply(lambda x: "France" in x)]
num_species_france = france_df.shape[0]
print(f"Number of species with occurrences in France: {num_species_france}")

Number of species with occurrences in France: 5185

### occ.count_countries()

In [ ]:
# Get the taxon key for a species
df = get_data()
species_list = df["species"].tolist()[:5]

species_data = {}
for species_name in species_list[:1]:
    taxon_key = species.name_backbone(species_name)["usageKey"]
    response = occ.count_countries(publishingCountry="FR")
print(response)

{'FRANCE': 194749853, 'GERMANY': 1855783, 'ITALY': 1123703, 'SPAIN': 1022432, 'UNITED_STATES': 940999, 'RÉUNION': 725010, 'UNITED_KINGDOM': 712293, 'SWITZERLAND': 589942, 'NETHERLANDS': 568703, 'NEW_CALEDONIA': 498123, 'FRENCH_GUIANA': 414252, 'CZECH_REPUBLIC': 406939, 'AUSTRIA': 379481, 'BELGIUM': 363438, 'GUADELOUPE': 356756, 'BRAZIL': 321389, 'MADAGASCAR': 253247, 'CANADA': 188565, 'FRENCH_POLYNESIA': 184303, 'POLAND': 179892, 'MARTINIQUE': 139060, 'CÔTE_DIVOIRE': 124122, 'RUSSIAN_FEDERATION': 119758, 'SLOVAKIA': 109268, 'PORTUGAL': 104004, 'SENEGAL': 100711, 'HUNGARY': 89043, 'GREECE': 88463, 'SWEDEN': 87754, 'UNKNOWN': 85929, 'INDIA': 84853, 'FRENCH_SOUTHERN_TERRITORIES': 81827, 'CAMEROON': 79498, 'FINLAND': 78240, 'BURKINA_FASO': 72584, 'AUSTRALIA': 68474, 'VIETNAM': 68466, 'MAYOTTE': 65849, 'MEXICO': 65782, 'PAPUA_NEW_GUINEA': 62424, 'CHINA': 61047, 'CROATIA': 59690, 'SOUTH_AFRICA': 58770, 'DENMARK': 58343, 'TURKEY': 57522, 'NORWAY': 54300, 'ALGERIA': 52989, 'NIGER': 50569, 'MOROCCO': 50408, 'IRELAND': 45427, 'INDONESIA': 44659, 'PHILIPPINES': 44201, 'GUINEA': 43570, 'ARGENTINA': 43448, 'MALI': 40625, 'JAPAN': 40208, 'CHAD': 38123, 'COLOMBIA': 37671, 'CHILE': 36765, 'GABON': 36506, 'SLOVENIA': 35918, 'VANUATU': 34084, 'UKRAINE': 33954, 'ROMANIA': 33698, 'EGYPT': 29689, 'WALLIS_FUTUNA': 28700, 'CENTRAL_AFRICAN_REPUBLIC': 28374, 'PERU': 26955, 'BENIN': 25913, 'SEYCHELLES': 23858, 'ECUADOR': 23246, 'MAURITANIA': 22467, 'SURINAME': 21794, 'MAURITIUS': 19665, 'IRAN': 19232, 'THAILAND': 18718, 'BULGARIA': 18181, 'NEW_ZEALAND': 18115, 'TUNISIA': 18056, 'CONGO': 17819, 'TANZANIA': 17768, 'BOLIVIA': 17661, 'SOLOMON_ISLANDS': 17280, 'SERBIA': 16903, 'CONGO_DEMOCRATIC_REPUBLIC': 16537, 'LUXEMBOURG': 16410, 'TAIWAN': 15769, 'VENEZUELA': 15724, 'MALAYSIA': 15708, 'SUDAN': 15539, 'LEBANON': 15168, 'COSTA_RICA': 15168, 'ETHIOPIA': 14919, 'KENYA': 14886, 'SAINT_MARTIN_FRENCH': 14677, 'TOGO': 13756, 'CAMBODIA': 13457, 'PARAGUAY': 12733, 'SAINT_PIERRE_MIQUELON': 12662, 'COMOROS': 12159, 'LAO': 12000, 'CAPE_VERDE': 11909, 'NEPAL': 11538, 'SOMALIA': 10318, 'LIBERIA': 10130, 'FIJI': 10004, 'ANTARCTICA': 9521, 'URUGUAY': 9464, 'CUBA': 9325, 'SYRIA': 9171, 'SAINT_BARTHÉLEMY': 9161, 'GUYANA': 8859, 'ISRAEL': 8801, 'ANGOLA': 8625, 'MOZAMBIQUE': 8561, 'NIGERIA': 8404, 'BELARUS': 8248, 'LITHUANIA': 7927, 'ESTONIA': 7676, 'SRI_LANKA': 7560, 'BOSNIA_HERZEGOVINA': 7465, 'LATVIA': 7321, 'DOMINICAN_REPUBLIC': 6852, 'ICELAND': 6733, 'PUERTO_RICO': 6707, 'GUATEMALA': 6267, 'GAMBIA': 5609, 'DJIBOUTI': 5447, 'MONTENEGRO': 5362, 'SIERRA_LEONE': 5103, 'PANAMA': 4725, 'CYPRUS': 4689, 'ARMENIA': 4540, 'MALDIVES': 4485, 'PAKISTAN': 4418, 'BRITISH_INDIAN_OCEAN_TERRITORY': 4360, 'SINGAPORE': 4294, 'KAZAKHSTAN': 4176, 'NAMIBIA': 4171, 'MALTA': 4079, 'YEMEN': 4015, 'GEORGIA': 3437, 'GHANA': 3394, 'ANDORRA': 3317, 'SAUDI_ARABIA': 3256, 'DOMINICA': 3194, 'SVALBARD_JAN_MAYEN': 3089, 'KOREA_SOUTH': 2978, 'ZIMBABWE': 2954, 'UGANDA': 2838, 'HONG_KONG': 2809, 'ALBANIA': 2726, 'TONGA': 2708, 'LIECHTENSTEIN': 2506, 'NICARAGUA': 2500, 'JAMAICA': 2495, 'LIBYA': 2401, 'TRINIDAD_TOBAGO': 2345, 'OMAN': 2302, 'BURUNDI': 2249, 'MACEDONIA': 2188, 'MYANMAR': 1989, 'RWANDA': 1934, 'HAITI': 1819, 'BELIZE': 1811, 'VIRGIN_ISLANDS': 1744, 'HONDURAS': 1729, 'JERSEY': 1703, 'MALAWI': 1667, 'SAO_TOME_PRINCIPE': 1593, 'AZERBAIJAN': 1573, 'MOLDOVA': 1569, 'EQUATORIAL_GUINEA': 1547, 'GUINEA_BISSAU': 1515, 'IRAQ': 1474, 'BARBADOS': 1438, 'BANGLADESH': 1314, 'ZAMBIA': 1305, 'EL_SALVADOR': 1296, 'JORDAN': 1294, 'GREENLAND': 1292, 'KYRGYZSTAN': 1211, 'BHUTAN': 1193, 'GUERNSEY': 1128, 'UNITED_ARAB_EMIRATES': 1009, 'BAHAMAS': 1005, 'UZBEKISTAN': 963, 'ISLE_OF_MAN': 944, 'LESOTHO': 943, 'AFGHANISTAN': 935, 'PALESTINIAN_TERRITORY': 904, 'SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA': 835, 'SAMOA': 805, 'FALKLAND_ISLANDS': 793, 'WESTERN_SAHARA': 786, 'MONGOLIA': 782, 'BONAIRE_SINT_EUSTATIUS_SABA': 739, 'MONACO': 733, 'SAN_MARINO': 667, 'CAYMAN_ISLANDS': 662, 'KOSOVO': 659, 'ANGUILLA': 631, 'TAJIKISTAN': 600, 'SAINT_LUCIA': 540, 'ALAND_ISLANDS': 524, 'TIMOR_LESTE': 477, 'BOTSWANA': 477, 'TURKMENISTAN': 461, 'SAINT_KITTS_NEVIS': 438, 'SOUTH_GEORGIA_SANDWICH_ISLANDS': 421, 'GRENADA': 413, 'SAINT_VINCENT_GRENADINES': 405, 'GUAM': 396, 'MARSHALL_ISLANDS': 386, 'SINT_MAARTEN': 379, 'MICRONESIA': 376, 'ERITREA': 365, 'KOREA_NORTH': 353, 'CURAÇAO': 352, 'SWAZILAND': 333, 'BERMUDA': 320, 'GIBRALTAR': 316, 'VIRGIN_ISLANDS_BRITISH': 296, 'ANTIGUA_BARBUDA': 296, 'NORTHERN_MARIANA_ISLANDS': 277, 'AMERICAN_SAMOA': 277, 'KUWAIT': 264, 'BOUVET_ISLAND': 252, 'COOK_ISLANDS': 238, 'ARUBA': 227, 'PALAU': 225, 'COCOS_ISLANDS': 217, 'FAROE_ISLANDS': 211, 'NORFOLK_ISLAND': 203, 'MACAO': 202, 'TURKS_CAICOS_ISLANDS': 200, 'BRUNEI_DARUSSALAM': 185, 'QATAR': 163, 'CHRISTMAS_ISLAND': 142, 'HEARD_MCDONALD_ISLANDS': 101, 'SOUTH_SUDAN': 98, 'KIRIBATI': 94, 'MONTSERRAT': 89, 'PITCAIRN': 71, 'BAHRAIN': 61, 'TOKELAU': 54, 'VATICAN': 19, 'NIUE': 18, 'UNITED_STATES_OUTLYING_ISLANDS': 17, 'NAURU': 17, 'TUVALU': 4}